$variable: green;

@import './second.scss';

@mixin redSquare($size) {
    width: $size;
    height: $size;
    background-color: red;
}

.test {
    @include redSquare(10vh);
}

div {
    color: red;
    p {
      color: $variable;  
    }
}

div {
    color : red;
}
div p {
 color: green;
}